<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.AclMenuOperMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.AclMenuOper">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="menu_id" jdbcType="VARCHAR" property="menuId" />
		<result column="oper_code" jdbcType="VARCHAR" property="operCode" />
		<result column="oper_name" jdbcType="VARCHAR" property="operName" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, menu_id, oper_code, oper_name, status, remark, create_time, modify_time
	</sql>
	<select id="selectAllByMenuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_acl_menu_oper
		WHERE
			menu_id = #{menuId,jdbcType=INTEGER}
		AND `status` = 1
		ORDER BY
			create_time
	</select>
</mapper>