<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.AclMenuMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.AclMenu">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="visit_url" jdbcType="VARCHAR" property="visitUrl" />
		<result column="parent_id" jdbcType="INTEGER" property="parentId" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="level" jdbcType="TINYINT" property="level" />
		<result column="sort_id" jdbcType="INTEGER" property="sortId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, visit_url, parent_id, status, level, sort_id, remark, create_time, modify_time
	</sql>
	<select id="selectAllRootMenu" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_acl_menu
		WHERE 
			(
				parent_id IS NULL OR parent_id = ''
			)
			AND level = 1
			AND `status` = 1
		ORDER BY
			sort_id
	</select>
	
	<select id="selectSubMenuByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_acl_menu
		WHERE
			parent_id = #{parentId,jdbcType=INTEGER}
			AND `status` = 1
		ORDER BY
			sort_id
	</select>
	
	<select id="selectRootMenuByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			pm.*
		FROM
			carexx_acl_role_menu_oper rmo
		LEFT JOIN carexx_acl_menu m ON rmo.menu_id = m.id
		LEFT JOIN carexx_acl_menu pm ON m.parent_id = pm.id
		WHERE
			rmo.role_id = #{roleId,jdbcType=INTEGER} 
			AND m.`status` = 1 
			AND pm.`status` = 1
		GROUP BY
			pm.id
		ORDER BY
			pm.sort_id
	</select>
	
	<select id="selectSubMenuByRoleIdAndParentId" resultMap="BaseResultMap">
		SELECT
			m.*
		FROM
			carexx_acl_role_menu_oper rmo
		LEFT JOIN carexx_acl_menu m ON rmo.menu_id = m.id
		WHERE
			rmo.role_id = #{roleId,jdbcType=INTEGER}
			AND m.parent_id = #{parentId,jdbcType=INTEGER}
			AND m.`status` = 1
		GROUP BY
			m.id
		ORDER BY
			m.sort_id
	</select>
</mapper>