<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.AclUserAcctMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.AclUserAcct">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="mobile" jdbcType="CHAR" property="mobile" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="inst_id" jdbcType="INTEGER" property="instId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, account, status, name, mobile, email, inst_id, create_time, modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_acl_user_acct
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_acl_user_acct
		where 
			account = #{account,jdbcType=VARCHAR}
	</select>
	<select id="selectAclUserCount" parameterType="com.sh.carexx.bean.acl.AclRegFormBean" resultType="java.lang.Integer">
		SELECT
			count(1) totalCount
		FROM
			carexx_acl_user_acct aua
		<where>
			<if test="account != null and account != ''">
		        aua.account = #{account,jdbcType=VARCHAR}
		    </if>
			<if test="name != null and name != ''">
		        and aua.name = #{name,jdbcType=VARCHAR}
		    </if>
		    <if test="mobile != null and mobile != ''">
		        and aua.mobile = #{mobile,jdbcType=CHAR}
		    </if>
		    <if test="email != null and email != ''">
		        and aua.email = #{email,jdbcType=VARCHAR}
		    </if>
		    <if test="instId != null and instId > 0">
		        and aua.inst_id = #{instId,jdbcType=INTEGER}
		    </if>
		    <if test="startRegDate != null">
				and substr(aua.create_time, 1, 10) >= #{startRegDate,jdbcType=DATE}
		    </if>
		    <if test="endRegDate != null">
		        and substr(aua.create_time, 1, 10) <![CDATA[<=]]> #{endRegDate,jdbcType=DATE}
		    </if>
		    <if test="status != null">
		        and aua.status = #{status,jdbcType=TINYINT}
		    </if>
		</where>
	</select>
	<select id="selectAclUserList" parameterType="com.sh.carexx.bean.acl.AclRegFormBean" resultType="java.util.Map">
		SELECT
			aua.id,
			aua.account,
			aua.`status`,
			aua.`name`,
			aua.mobile,
			aua.email,
			aua.create_time createTime,
			aur.role_id roleId,
			ar.`name` roleName
		FROM
			carexx_acl_user_acct aua
		LEFT JOIN carexx_acl_user_role aur ON aua.id = aur.user_id
		LEFT JOIN carexx_acl_role ar ON aur.role_id = ar.id
		<where>
			<if test="account != null and account != ''">
		        aua.account = #{account,jdbcType=VARCHAR}
		    </if>
			<if test="name != null and name != ''">
		        and aua.name = #{name,jdbcType=VARCHAR}
		    </if>
		    <if test="mobile != null and mobile != ''">
		        and aua.mobile = #{mobile,jdbcType=CHAR}
		    </if>
		    <if test="email != null and email != ''">
		        and aua.email = #{email,jdbcType=VARCHAR}
		    </if>
		    <if test="instId != null and instId > 0">
		        and aua.inst_id = #{instId,jdbcType=INTEGER}
		    </if>
		    <if test="startRegDate != null">
				and substr(aua.create_time, 1, 10) >= #{startRegDate,jdbcType=DATE}
		    </if>
		    <if test="endRegDate != null">
		        and substr(aua.create_time, 1, 10) <![CDATA[<=]]> #{endRegDate,jdbcType=DATE}
		    </if>
		    <if test="status != null">
		        and aua.status = #{status,jdbcType=TINYINT}
		    </if>
		</where>
		order by 
			createTime desc
		LIMIT ${rowIndex}, ${pageSize}
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sh.carexx.model.uc.AclUserAcct">
		insert into carexx_acl_user_acct (
			account, status, name, mobile, email, inst_id, create_time
		)
		values (
			#{account,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR},
			#{mobile,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{instId,jdbcType=INTEGER}, now()
		)
	</insert>
	<update id="updateStatus">
		update
			carexx_acl_user_acct
		set 
			status = #{targetStatus,jdbcType=TINYINT},
			modify_time = now()
		where 
			id = #{id,jdbcType=INTEGER} and status = #{srcStatus,jdbcType=TINYINT}
	</update>
	<update id="update" parameterType="com.sh.carexx.model.uc.AclUserAcct">
		update
			carexx_acl_user_acct
		set 
			<if test="name != null and name != ''">
				name = #{name,jdbcType=VARCHAR}, 
			</if>
			<if test="mobile != null and mobile != ''">
				mobile = #{mobile,jdbcType=CHAR},
			</if>
			<if test="email != null and email != ''">
				email = #{email,jdbcType=VARCHAR},
			</if>
			modify_time = now()
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>