<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.AclUserRoleMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.AclUserRole">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, role_id, create_time, modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_acl_user_role
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_acl_user_role
		where 
			user_id = #{userId,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.sh.carexx.model.uc.AclUserRole">
		insert into carexx_acl_user_role (
			user_id, role_id, create_time
		)
		values (
			#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, now()
		)
	</insert>
	<update id="update">
		update 
			carexx_acl_user_role
		set
			role_id = #{roleId,jdbcType=INTEGER},
			modify_time = now()
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
</mapper>