<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.CareInstMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.CareInst">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="inst_type" jdbcType="TINYINT" property="instType" />
		<result column="inst_name" jdbcType="VARCHAR" property="instName" />
		<result column="inst_status" jdbcType="TINYINT" property="instStatus" />
		<result column="inst_region" jdbcType="VARCHAR" property="instRegion" />
		<result column="inst_addr" jdbcType="VARCHAR" property="instAddr" />
		<result column="inst_lng" jdbcType="DOUBLE" property="instLng" />
		<result column="inst_lat" jdbcType="DOUBLE" property="instLat" />
		<result column="introduce" jdbcType="VARCHAR" property="introduce" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, inst_type, inst_name, inst_status,
		inst_region, inst_addr, inst_lng, inst_lat, introduce,
		create_time, modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			carexx_care_inst
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByInstName" parameterType="com.sh.carexx.bean.care.CareInstFormBean" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_care_inst
		WHERE inst_name = #{instName,jdbcType=VARCHAR}
	</select>
	<select id="selectCareInstCount" parameterType="com.sh.carexx.bean.care.CareInstFormBean" resultType="java.lang.Integer">
		SELECT
			count(1) totalCount
		FROM
			carexx_care_inst 
		<where>
			<if test="instName != null and instName != '' ">
				inst_name like CONCAT('%', '${instName}', '%')
			</if>
			<if test="instStatus != null">
				and inst_status = #{instStatus,jdbcType=VARCHAR}
			</if>
			<if test="instType != null">
				and inst_type = #{instType,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectCareInstList" parameterType="com.sh.carexx.bean.care.CareInstFormBean" resultType="java.util.Map">
		SELECT
			id id,
			inst_type instType,
			inst_name instName,
			inst_status instStatus,
			inst_region instRegion,
			inst_addr instAddr,
			inst_lng instLng,
			inst_lat instLat,
			introduce introduce,
			create_time createTime,
			modify_time modifyTime
		FROM
			carexx_care_inst 
		<where>
			<if test="instName != null and instName != '' ">
				inst_name like CONCAT('%', '${instName}', '%')
			</if>
			<if test="instStatus != null">
				and inst_status = #{instStatus,jdbcType=VARCHAR}
			</if>
			<if test="instType != null">
				and inst_type = #{instType,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY createTime DESC
		limit ${rowIndex}, ${pageSize}
	</select>
	<select id="selectAllByInstName" parameterType="com.sh.carexx.bean.care.CareInstFormBean" resultType="java.util.Map">
		SELECT
			id id,
			inst_type instType,
			inst_name instName,
			inst_status instStatus,
			inst_region instRegion,
			inst_addr instAddr,
			inst_lng instLng,
			inst_lat instLat,
			introduce introduce,
			create_time createTime,
			modify_time modifyTime
		FROM
			carexx_care_inst
		WHERE
			inst_status=1
		<if test="instName != null and instName != '' ">
			and inst_name like CONCAT('%', '${instName}', '%')
		</if>
	</select>
	<insert id="insert" parameterType="com.sh.carexx.model.uc.CareInst">
		INSERT INTO carexx_care_inst (
			inst_type, inst_name, inst_status, inst_region,
			inst_addr, inst_lng, inst_lat, introduce,create_time
		)
		VALUES (
			#{instType,jdbcType=TINYINT},
			#{instName,jdbcType=VARCHAR},
			#{instStatus,jdbcType=TINYINT},	
			#{instRegion,jdbcType=VARCHAR},
			#{instAddr,jdbcType=VARCHAR},
			#{instLng,jdbcType=DOUBLE},
			#{instLat,jdbcType=DOUBLE},
			#{introduce,jdbcType=VARCHAR},
			now()
		)
	</insert>
	<update id="update" parameterType="com.sh.carexx.model.uc.CareInst">
		UPDATE
			carexx_care_inst
		SET
			inst_type = #{instType,jdbcType=TINYINT},
			inst_name = #{instName,jdbcType=VARCHAR},
			inst_region = #{instRegion,jdbcType=VARCHAR},
			inst_addr = #{instAddr,jdbcType=VARCHAR},
			inst_lng = #{instLng,jdbcType=DOUBLE},
			inst_lat = #{instLat,jdbcType=DOUBLE},
			introduce = #{introduce,jdbcType=VARCHAR},
			modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateStatus">
		UPDATE
			carexx_care_inst
		SET
			inst_status = #{targetStatus,jdbcType=TINYINT},
			modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER} and inst_status = #{srcStatus,jdbcType=TINYINT}
	</update>
</mapper>