<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.CustomerOrderScheduleMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.CustomerOrderSchedule">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="service_staff_id" jdbcType="INTEGER" property="serviceStaffId" />
		<result column="service_start_time" jdbcType="TIMESTAMP" property="serviceStartTime" />
		<result column="service_end_time" jdbcType="TIMESTAMP" property="serviceEndTime" />
		<result column="service_duration" jdbcType="INTEGER" property="serviceDuration" />
		<result column="work_type_settle_id" jdbcType="INTEGER" property="workTypeSettleId" />
		<result column="service_status" jdbcType="TINYINT" property="serviceStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_no, service_staff_id, service_start_time, service_end_time, service_duration, 
		work_type_settle_id, service_status, create_time, modify_time
	</sql>
	
	<select id="selectWorkQuantityReport" parameterType="com.sh.carexx.bean.order.WorkQuantityReportFormBean" resultType="java.util.Map">
		SELECT
			cos.id scheduleId,
			cis.id staffId,
			cis.real_name staffName,
			cis.person_type personType,
			wt.work_type_name workTypeName,
			cos.service_duration serviceDuration,
			cos.service_start_time serviceStartTime,
			cos.service_end_time serviceEndTime,
			co.order_no orderNo,
			cia.inpatient_area inpatientArea,
			co.inpatient_ward inpatientWard,
			ic.real_name patientName,
			cs.service_name serviceName,
			os.settle_ratio settleRatio,
			os.staff_settle_amt staffSettleAmt,
			os.inst_settle_amt instSettleAmt,
			os.adjust_amt settleAdjustAmt,
			os.settle_status settleStatus
		FROM
			carexx_customer_order_schedule cos
		LEFT JOIN carexx_order_settle os ON cos.id = os.schedule_id
		LEFT JOIN carexx_customer_order co ON cos.order_no = co.order_no
		LEFT JOIN carexx_inst_staff cis ON cos.service_staff_id = cis.id
		LEFT JOIN carexx_inst_customer ic ON co.customer_id = ic.id
		LEFT JOIN carexx_care_service cs ON co.service_id = cs.id
		LEFT JOIN carexx_work_type wt ON cs.work_type_id = wt.id
		LEFT JOIN carexx_inst_inpatient_area cia ON cia.id = co.inpatient_area_id
		<where>
			co.order_status = 6
			<if test="serviceStartTime != null and serviceStartTime != '' ">
				AND cos.service_start_time >= #{serviceStartTime}
			</if>
			<if test="serviceEndTime != null and serviceEndTime != '' ">
				AND cos.service_start_time <![CDATA[<=]]> #{serviceEndTime}
			</if>
			<if test="instId != null and instId > 0">
				AND co.inst_id = #{instId,jdbcType=INTEGER}
			</if>
			<if test="personType != null">
				AND cis.person_type = #{personType,jdbcType=INTEGER}
			</if>
			<if test="workTypeId != null">
				AND wt.id = #{workTypeId,jdbcType=INTEGER}
			</if>
			<if test="staffName != null and staffName != '' ">
				AND cis.real_name LIKE CONCAT('%', '${staffName}', '%')
			</if>
			<if test="patientName != null and patientName != '' ">
				AND ic.real_name LIKE CONCAT('%', '${patientName}', '%')
			</if>
			<if test="settleStatus != null and settleStatus == 1">
				AND os.settle_status in (2,3)
			</if>
			<if test="settleStatus != null and settleStatus == 2">
				AND os.settle_status = 3
			</if>
		</where>
		GROUP BY
			staffId,
			serviceStartTime,
			orderNo
		ORDER BY
			staffId,
			serviceStartTime DESC
	</select>
	
	<select id="selectScheduleByOrderNo" resultType="java.util.Map">
		SELECT
			cos.id id,
			cos.order_no orderNo,
			cos.service_staff_id serviceStaffId,
			cis.inst_id instId,
			cci.inst_name instName,
			cos.service_duration serviceDuration,
			cis.service_inst_id serviceInstId,
			ccc.inst_name serviceInstName,
			cis.person_type personType,
			cis.real_name realName,
			cis.sex sex,
			cis.birthday birthday,
			cis.phone phone,
			cis.address address,
			cos.service_start_time serviceStartTime,
			cos.service_end_time serviceEndTime,
			cos.work_type_settle_id workTypeSettleId,
			os.settle_ratio settleRatio,
			os.staff_settle_amt staffSettleAmt,
			os.adjust_amt settleAdjustAmt,
			os.inst_settle_amt instSettleAmt,
			cos.service_status serviceStatus,
			cos.create_time createTime,
			cos.modify_time modifyTime
		FROM
			carexx_customer_order_schedule cos
		LEFT JOIN carexx_inst_staff cis ON cos.service_staff_id = cis.id
		LEFT JOIN carexx_care_inst cci ON cis.inst_id = cci.id
		LEFT JOIN carexx_care_inst ccc ON cis.service_inst_id = ccc.id
		LEFT JOIN carexx_order_settle os ON cos.id = os.schedule_id
		WHERE
			cos.service_status > 0 and
			cos.order_no = #{orderNo,jdbcType=VARCHAR}
		ORDER BY
			cos.service_start_time ASC
	</select>
	
	<select id="selectByTime" resultMap="BaseResultMap">
		SELECT
			cos.id, cos.order_no, cos.service_staff_id, cos.service_start_time, cos.service_end_time, cos.service_duration, 
			cos.work_type_settle_id, cos.service_status, cos.create_time, cos.modify_time
		FROM
			carexx_customer_order_schedule cos
		LEFT JOIN carexx_customer_order co ON cos.order_no = co.order_no
		LEFT JOIN carexx_order_settle os ON cos.id = os.schedule_id
		WHERE
			co.order_status = 6 and os.settle_status = #{srcStatus,jdbcType=TINYINT}
			AND DATE_FORMAT(co.service_end_time,<![CDATA['%Y-%m-%d']]>) <![CDATA[<]]> DATE_FORMAT(#{settleDate,jdbcType=DATE},<![CDATA['%Y-%m-%d']]>)
			<if test="recentlySettleDate != null ">
				AND DATE_FORMAT(co.service_end_time,<![CDATA['%Y-%m-%d']]>) <![CDATA[>=]]> DATE_FORMAT(#{recentlySettleDate,jdbcType=DATE},<![CDATA['%Y-%m-%d']]>)
			</if>
			<if test="instId != null and instId > 0">
				AND co.inst_id = #{instId,jdbcType=INTEGER}
			</if>
	</select>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_customer_order_schedule
		WHERE
			id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_customer_order_schedule 
		WHERE
			service_status > 0 and
			order_no = #{orderNo,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByExistence" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_customer_order_schedule
		WHERE
			service_status > 0
			and order_no = #{orderNo,jdbcType=VARCHAR}
			and (
		(service_start_time >= #{serviceStartTime,jdbcType=TIMESTAMP} AND service_start_time <![CDATA[<]]> #{serviceEndTime,jdbcType=TIMESTAMP}) OR  
		(service_start_time <![CDATA[<=]]> #{serviceStartTime,jdbcType=TIMESTAMP} AND service_end_time >= #{serviceEndTime,jdbcType=TIMESTAMP}) OR  
		(service_end_time > #{serviceStartTime,jdbcType=TIMESTAMP} AND service_end_time <![CDATA[<=]]> #{serviceEndTime,jdbcType=TIMESTAMP})
				)
	</select>
	
	<insert id="insert" parameterType="com.sh.carexx.model.uc.CustomerOrderSchedule" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO carexx_customer_order_schedule (
			order_no,service_staff_id,
			service_start_time, service_end_time,
			service_duration, work_type_settle_id,
			service_status,create_time
		)
		VALUES (
			#{orderNo,jdbcType=VARCHAR},
			#{serviceStaffId,jdbcType=INTEGER},
			#{serviceStartTime,jdbcType=TIMESTAMP},
			#{serviceEndTime,jdbcType=TIMESTAMP},
			#{serviceDuration,jdbcType=INTEGER},
			#{workTypeSettleId,jdbcType=INTEGER},
			#{serviceStatus,jdbcType=TINYINT},
			now()
		)
	</insert>
	
	<select id="selectCustomerOrderScheduleCount" resultType="java.lang.Integer">
		SELECT
			count(1) totalNum
		FROM
			carexx_customer_order_schedule
	</select>
	
	<select id="selectCustomerOrderSchedule" resultType="java.util.Map">
		SELECT
			cos.id id,
			cos.order_no orderNo,
			cos.service_duration serviceDuration,
			cos.service_staff_id serviceStaffId,
			isf.real_name realName,
			isf.person_type personType,
			isf.inst_id instId,
			ci.inst_name instName,
			isf.sex sex,
			isf.phone phone,
			isf.address address,
			cos.service_start_time serviceStartTime,
			cos.service_end_time serviceEndTime,
			cos.work_type_settle_id workTypeSettleId,
			cos.service_status serviceStatus,
			cos.create_time createTime,
			cos.modify_time modifyTime
		FROM
			carexx_customer_order_schedule cos
		LEFT JOIN carexx_inst_staff isf ON isf.id = cos.service_staff_id
		LEFT JOIN carexx_care_inst ci ON isf.inst_id = ci.id
	</select>
	
	<update id="updateStatus">
		UPDATE
			carexx_customer_order_schedule
		SET
			service_status = #{targetStatus, jdbcType=TINYINT},
			modify_time = now()
		WHERE
			id = #{id, jdbcType=BIGINT} and service_status = #{srcStatus, jdbcType=TINYINT}
	</update>
	
	<update id="deleteOrderSchedule">
		UPDATE
			carexx_customer_order_schedule
		SET
			service_status = #{targetStatus, jdbcType=TINYINT},
			modify_time = now()
		WHERE
			id = #{id, jdbcType=BIGINT}
	</update>
</mapper>