<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.CustomerOrderMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.CustomerOrder">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_type" jdbcType="TINYINT" property="orderType" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="customer_id" jdbcType="INTEGER" property="customerId" />
		<result column="inst_id" jdbcType="INTEGER" property="instId" />
		<result column="service_id" jdbcType="INTEGER" property="serviceId" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="order_amt" jdbcType="DECIMAL" property="orderAmt" />
		<result column="adjust_amt" jdbcType="DECIMAL" property="adjustAmt" />
		<result column="inpatient_area_id" jdbcType="INTEGER" property="inpatientAreaId" />
		<result column="inpatient_ward" jdbcType="VARCHAR" property="inpatientWard" />
		<result column="service_start_time" jdbcType="TIMESTAMP" property="serviceStartTime" />
		<result column="service_end_time" jdbcType="TIMESTAMP" property="serviceEndTime" />
		<result column="holiday" jdbcType="DECIMAL" property="holiday" />
		<result column="order_status" jdbcType="TINYINT" property="orderStatus" />
		<result column="operator" jdbcType="VARCHAR" property="operator" />
		<result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
		<result column="inst_sys_id" jdbcType="INTEGER" property="instSysId" />
		<result column="proof_type" jdbcType="TINYINT" property="proofType" />
		<result column="receipt_no" jdbcType="VARCHAR" property="receiptNo" />
		<result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo" />
		<result column="signing_person" jdbcType="VARCHAR" property="signingPerson" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_type, user_id, customer_id, inst_id, service_id, order_no, order_amt, adjust_amt, inpatient_area_id, inpatient_ward, service_start_time,
		service_end_time, holiday, order_status, operator, order_remark, inst_sys_id, proof_type, receipt_no, invoice_no, signing_person, create_time, modify_time
	</sql>

	<select id="selectByUserIdCount" parameterType="com.sh.carexx.bean.order.CustomerOrderQueryFormBean" resultType="java.lang.Integer">
		SELECT
		count(1) totalCount
		FROM
		carexx_customer_order co
		WHERE
		co.user_id = #{userId,jdbcType=INTEGER}
		<if test="selectType != null and selectType != '' and selectType == 0">
			and co.order_status in (2,5,6)
		</if>
		<if test="selectType != null and selectType != '' and selectType == 1">
			and co.order_status in (1,3,4)
		</if>
	</select>

	<select id="selectByUserId" parameterType="com.sh.carexx.bean.order.CustomerOrderQueryFormBean" resultType="java.util.Map">
		SELECT
		co.id id,
		co.order_type orderType,
		co.inst_id instId,
		ci.inst_name instName,
		co.service_id serviceId,
		cs.service_name serviceName,
		co.order_no orderNo,
		co.order_amt orderAmt,
		cia.inpatient_area inpatientArea,
		co.inpatient_ward inpatientWard,
		co.service_start_time serviceStartTime,
		co.service_end_time serviceEndTime,
		co.order_status orderStatus,
		co.order_remark orderRemark,
		co.create_time createTime,
		co.modify_time modifyTime
		FROM
		carexx_customer_order co
		LEFT JOIN carexx_care_inst ci ON co.inst_id = ci.id
		LEFT JOIN carexx_care_service cs ON co.service_id = cs.id
		LEFT JOIN carexx_inst_inpatient_area cia ON cia.id = co.inpatient_area_id
		WHERE
		co.user_id = #{userId,jdbcType=INTEGER}
		<if test="selectType != null and selectType != '' and selectType == 0">
			and co.order_status in (2,5,6)
		</if>
		<if test="selectType != null and selectType != '' and selectType == 1">
			and co.order_status in (1,3,4)
		</if>
		ORDER BY
		co.create_time DESC
		LIMIT ${rowIndex}, ${pageSize}
	</select>

	<select id="selectCustomerOrderCount" parameterType="com.sh.carexx.bean.order.CustomerOrderQueryFormBean" resultType="java.lang.Integer">
		SELECT
		count(1) totalCount
		FROM
		carexx_customer_order co
		LEFT JOIN carexx_inst_customer ic ON co.customer_id = ic.id
		LEFT JOIN carexx_order_payment op ON co.order_no = op.order_no
		<where>
			co.order_status != 2
			<if test="instId != null and instId > 0">
				and co.inst_id = #{instId,jdbcType=INTEGER}
			</if>
			<if test="orderType != null and orderType != '' ">
				and co.order_type = #{orderType,jdbcType=TINYINT}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				and co.order_no = #{orderNo,jdbcType=VARCHAR}
			</if>
			<if test="realName != null and realName != '' ">
				and ic.real_name like CONCAT('%', '${realName}', '%')
			</if>
			<if test="serviceStartTime != null and serviceStartTime != '' ">
				and co.service_start_time >= #{serviceStartTime}
			</if>
			<if test="serviceEndTime != null and serviceEndTime != '' ">
				and co.service_start_time <![CDATA[<=]]> #{serviceEndTime}
			</if>
			<if test="orderStatus != null and orderStatus != '' ">
				and co.order_status = #{orderStatus,jdbcType=TINYINT}
			</if>
			<if test="payType != null and payType != '' ">
				and op.pay_type = #{payType,jdbcType=TINYINT}
			</if>
			<if test="instSysId != null and instSysId != '' ">
				and co.inst_sys_id = #{instSysId,jdbcType=INTEGER}
			</if>
			<if test="proofType != null and proofType != '' ">
				and co.proof_type = #{proofType,jdbcType=TINYINT}
			</if>
			<if test="proofNo != null and proofNo != '' ">
				and co.receipt_no like CONCAT('%', '${proofNo}', '%') or co.invoice_no like CONCAT('%', '${proofNo}', '%')
			</if>
			<if test="inpatientAreaId != null and inpatientAreaId > 0 ">
				and co.inpatient_area_id = #{inpatientAreaId,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<select id="selectCustomerOrderList" parameterType="com.sh.carexx.bean.order.CustomerOrderQueryFormBean" resultType="java.util.Map">
		SELECT
		co.id id,
		co.order_type orderType,
		op.pay_type payType,
		co.user_id userId,
		co.customer_id customerId,
		ic.real_name realName,
		ic.phone phone,
		ic.address address,
		co.inst_id instId,
		ci.inst_name instName,
		cis.inst_sys_name instSysName,
		co.service_id serviceId,
		wt.id workTypeId,
		wt.work_type_name workTypeName,
		cs.service_name serviceName,
		co.order_no orderNo,
		co.order_amt orderAmt,
		co.adjust_amt adjustAmt,
		cia.inpatient_area inpatientArea,
		co.inpatient_ward inpatientWard,
		co.service_start_time serviceStartTime,
		co.service_end_time serviceEndTime,
		co.holiday holiday,
		co.order_status orderStatus,
		os.settle_status settleStatus,
		co.operator operator,
		co.order_remark orderRemark,
		co.proof_type proofType,
		co.receipt_no receiptNo,
		co.invoice_no invoiceNo,
		co.signing_person signingPerson,
		co.create_time createTime,
		co.modify_time modifyTime
		FROM
		carexx_customer_order co
		LEFT JOIN carexx_inst_customer ic ON co.customer_id = ic.id
		LEFT JOIN carexx_care_inst ci ON co.inst_id = ci.id
		LEFT JOIN carexx_care_service cs ON co.service_id = cs.id
		LEFT JOIN carexx_work_type wt ON cs.work_type_id = wt.id
		LEFT JOIN carexx_order_payment op ON co.order_no = op.order_no
		LEFT JOIN carexx_care_inst_sys cis ON co.inst_sys_id = cis.id
		LEFT JOIN carexx_inst_inpatient_area cia ON cia.id = co.inpatient_area_id
		LEFT JOIN carexx_customer_order_schedule cos ON co.order_no = cos.order_no
		LEFT JOIN carexx_order_settle os ON cos.id = os.schedule_id
		<where>
			co.order_status != 2
			
			<if test="instId != null and instId > 0">
				and co.inst_id = #{instId,jdbcType=INTEGER}
			</if>
			<if test="orderType != null and orderType != '' ">
				and co.order_type = #{orderType,jdbcType=TINYINT}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				and co.order_no = #{orderNo,jdbcType=VARCHAR}
			</if>
			<if test="realName != null and realName != '' ">
				and ic.real_name like CONCAT('%', '${realName}', '%')
			</if>
			<if test="serviceStartTime != null and serviceStartTime != '' ">
				and co.service_start_time >= #{serviceStartTime}
			</if>
			<if test="serviceEndTime != null and serviceEndTime != '' ">
				and co.service_start_time <![CDATA[<=]]> #{serviceEndTime}
			</if>
			<if test="orderStatus != null and orderStatus != '' ">
				and co.order_status = #{orderStatus,jdbcType=TINYINT}
			</if>
			<if test="payType != null and payType != '' ">
				and op.pay_type = #{payType,jdbcType=TINYINT}
			</if>
			<if test="instSysId != null and instSysId > 0 ">
				and co.inst_sys_id = #{instSysId,jdbcType=INTEGER}
			</if>
			<if test="proofType != null and proofType != '' ">
				and co.proof_type = #{proofType,jdbcType=TINYINT}
			</if>
			<if test="proofNo != null and proofNo != '' ">
				and co.receipt_no like CONCAT('%', '${proofNo}', '%') or co.invoice_no like CONCAT('%', '${proofNo}', '%')
			</if>
			<if test="inpatientAreaId != null and inpatientAreaId > 0 ">
				and co.inpatient_area_id = #{inpatientAreaId,jdbcType=INTEGER}
			</if>
		</where>
		GROUP BY
		co.order_no
		ORDER BY
		co.create_time DESC
		LIMIT ${rowIndex}, ${pageSize}
	</select>

	<insert id="insert" parameterType="com.sh.carexx.model.uc.CustomerOrder">
		INSERT INTO carexx_customer_order (
			order_type, user_id, customer_id, inst_id,
			service_id, order_no, order_amt, adjust_amt, inpatient_area_id, inpatient_ward,
			service_start_time, service_end_time, holiday, order_status, operator, order_remark,
			inst_sys_id, proof_type, receipt_no, invoice_no, signing_person, create_time
			)
		VALUES (
			#{orderType,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER},
			#{customerId,jdbcType=INTEGER},
			#{instId,jdbcType=INTEGER},
			#{serviceId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderAmt,jdbcType=DECIMAL}, #{adjustAmt,jdbcType=DECIMAL},
			#{inpatientAreaId,jdbcType=INTEGER}, #{inpatientWard,jdbcType=VARCHAR},
			#{serviceStartTime,jdbcType=TIMESTAMP}, #{serviceEndTime,jdbcType=TIMESTAMP}, #{holiday,jdbcType=DECIMAL},
			#{orderStatus,jdbcType=TINYINT}, #{operator,jdbcType=VARCHAR}, #{orderRemark,jdbcType=VARCHAR},
			#{instSysId,jdbcType=INTEGER}, #{proofType,jdbcType=TINYINT}, #{receiptNo,jdbcType=VARCHAR},
			#{invoiceNo,jdbcType=VARCHAR}, #{signingPerson,jdbcType=VARCHAR}, now()
		)
	</insert>

	<update id="confirmCompleted" parameterType="com.sh.carexx.model.uc.CustomerOrder">
		update
			carexx_customer_order
		set
			inst_sys_id = #{instSysId,jdbcType=INTEGER},
			proof_type = #{proofType,jdbcType=TINYINT},
			receipt_no = #{receiptNo,jdbcType=VARCHAR},
			invoice_no = #{invoiceNo,jdbcType=VARCHAR},
			signing_person = #{signingPerson,jdbcType=VARCHAR}
		where
			 order_no = #{orderNo,jdbcType=VARCHAR}
	</update>

	<select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		carexx_customer_order
		WHERE
		order_no = #{orderNo,jdbcType=VARCHAR}
	</select>

	<select id="selectOrderExistence" parameterType="com.sh.carexx.bean.order.CustomerOrderQueryFormBean" resultType="java.util.Map">
  		SELECT
  			ic.real_name realName,
  			co.inst_id instId,
  			co.service_id serviceId,
  			co.service_start_time serviceStartTime,
  			co.service_end_time serviceEndTime
  		FROM
  			carexx_customer_order co
  		LEFT JOIN
  			carexx_inst_customer ic
  		ON
  			co.customer_id = ic.id
  		WHERE
  			co.order_status in (1,3,4)
  			and ic.real_name = #{realName,jdbcType=INTEGER}
  			and co.inst_id = #{instId,jdbcType=INTEGER}
  			and co.service_id = #{serviceId,jdbcType=INTEGER}
  			and (
		(co.service_start_time >= #{serviceStartTime,jdbcType=TIMESTAMP} AND co.service_start_time <![CDATA[<]]> #{serviceEndTime,jdbcType=TIMESTAMP}) OR  
		(co.service_start_time <![CDATA[<=]]> #{serviceStartTime,jdbcType=TIMESTAMP} AND co.service_end_time >= #{serviceEndTime,jdbcType=TIMESTAMP}) OR  
		(co.service_end_time > #{serviceStartTime,jdbcType=TIMESTAMP} AND co.service_end_time <![CDATA[<=]]> #{serviceEndTime,jdbcType=TIMESTAMP})
				)
  	</select>
	<select id="selectIncomeCount" parameterType="com.sh.carexx.bean.order.CustomerOrderQueryFormBean" resultType="java.util.Map">
		SELECT
		co.customer_id customerId,
		ic.real_name realName,
		co.inst_sys_id instSysId,
		ccis.inst_sys_name instSysName,
		cia.inpatient_area inpatientArea,
		co.inpatient_ward inpatientWard,
		co.order_no orderNo,
		co.operator operator,
		cis.real_name staffName,
		wt.id workTypeId,
		wt.work_type_name workTypeName,
		co.service_start_time serviceStartTime,
		co.service_end_time serviceEndTime,
		SUM(cos.service_duration) serviceDuration,
		co.holiday holiday,
		ics.service_price servicePrice,
		co.order_amt orderAmt,
		SUM(os.staff_settle_amt) staffSettleAmt,
		SUM(os.inst_settle_amt) instSettleAmt,
		SUM(os.adjust_amt) settleAdjustAmt,
		co.adjust_amt orderAdjustAmt,
		co.order_remark orderRemark,
		co.proof_type proofType,
		co.receipt_no receiptNo,
		co.invoice_no invoiceNo,
		co.signing_person signingPerson
		FROM
		carexx_customer_order co
		LEFT JOIN carexx_customer_order_schedule cos ON cos.order_no = co.order_no
		LEFT JOIN carexx_inst_staff cis ON cos.service_staff_id = cis.id
		LEFT JOIN carexx_inst_customer ic ON co.customer_id = ic.id
		LEFT JOIN carexx_care_inst_sys ccis ON co.inst_sys_id = ccis.id
		LEFT JOIN carexx_inst_care_service ics ON co.service_id = ics.service_id
		AND co.inst_id = ics.inst_id
		LEFT JOIN carexx_order_settle os ON cos.id = os.schedule_id
		LEFT JOIN carexx_care_service cs ON co.service_id = cs.id
		LEFT JOIN carexx_work_type wt ON cs.work_type_id = wt.id
		LEFT JOIN carexx_inst_inpatient_area cia ON cia.id = co.inpatient_area_id
		<where>
			co.order_status = 6 and ics.service_status = 1
			<if test="instId != null and instId > 0">
				and co.inst_id = #{instId,jdbcType=INTEGER}
			</if>
			<if test="serviceStartTime != null and serviceStartTime != '' ">
				and DATE_FORMAT(co.service_start_time ,<![CDATA['%Y-%m-%d']]>) <![CDATA[>=]]> DATE_FORMAT(#{serviceStartTime},<![CDATA['%Y-%m-%d']]>)
			</if>
			<if test="serviceEndTime != null and serviceEndTime != '' ">
				and DATE_FORMAT(co.service_start_time ,<![CDATA['%Y-%m-%d']]>) <![CDATA[<=]]> DATE_FORMAT(#{serviceEndTime},<![CDATA['%Y-%m-%d']]>)
			</if>
			<if test="proofType != null and proofType != '' ">
				and co.proof_type = #{proofType,jdbcType=TINYINT}
			</if>
			<if test="proofNo != null and proofNo != '' ">
				and (
				co.receipt_no like CONCAT('%', '${proofNo}', '%')
				or co.invoice_no like CONCAT('%', '${proofNo}', '%')
				)
			</if>
			<if test="instSysId != null and instSysId != '' ">
				and co.inst_sys_id = #{instSysId,jdbcType=INTEGER}
			</if>
			<if test="workTypeId != null and workTypeId != '' ">
				and wt.id = #{workTypeId,jdbcType=INTEGER}
			</if>
			<if test="realName != null and realName != '' ">
				and ic.real_name like CONCAT('%', '${realName}', '%')
			</if>
			<if test="inpatientAreaId != null and inpatientAreaId != '' ">
				and co.inpatient_area_id = #{inpatientAreaId,jdbcType=INTEGER}
			</if>
			<if test="signingPerson != null and signingPerson != '' ">
				and co.signing_person like CONCAT('%', '${signingPerson}', '%')
			</if>
			<if test="staffName != null and staffName != '' ">
				and cis.real_name like CONCAT('%', '${staffName}', '%')
			</if>
		</where>
		GROUP BY
		co.order_no
		<if  test="sortName == 'proofNo' and sortType == 0">
			ORDER BY
			co.invoice_no,co.receipt_no
		</if >
		<if  test="sortName == 'proofNo' and sortType == 1">
			ORDER BY
			co.invoice_no DESC,co.receipt_no DESC
		</if >
		<if  test="sortName == 'serviceStartTime' and sortType == 0">
			ORDER BY
			co.service_start_time ASC
		</if >
		<if  test="sortName == 'serviceStartTime' and sortType == 1">
			ORDER BY
			co.service_start_time DESC
		</if >
		<if  test="sortName == 'serviceEndTime' and sortType == 0">
			ORDER BY
			co.service_end_time ASC
		</if >
		<if  test="sortName == 'serviceEndTime' and sortType == 1">
			ORDER BY
			co.service_end_time DESC
		</if >
		<if test="sortName == null and sortType == null">
			ORDER BY
			co.create_time,cos.id DESC
		</if>
	</select>

	<update id="updateStatus">
		UPDATE
			carexx_customer_order
		SET
			order_status = #{targetStatus, jdbcType=TINYINT},
			modify_time = now()
		WHERE
			order_no = #{orderNo,jdbcType=VARCHAR} and order_status = #{srcStatus, jdbcType=TINYINT}
	</update>

	<update id="updateOrderCancel">
		UPDATE
			carexx_customer_order
		SET
			order_status = #{targetStatus, jdbcType=TINYINT},
			modify_time = now()
		WHERE
			order_no = #{orderNo,jdbcType=VARCHAR} and order_status in (1,3)
	</update>

	<update id="update"  parameterType="com.sh.carexx.model.uc.CustomerOrder">
		update
			carexx_customer_order
		set
			adjust_amt = #{adjustAmt,jdbcType=DECIMAL},
			proof_type = #{proofType,jdbcType=TINYINT},
			receipt_no = #{receiptNo,jdbcType=VARCHAR},
			invoice_no = #{invoiceNo,jdbcType=VARCHAR},
			modify_time = now()
		where
			order_no = #{orderNo,jdbcType=VARCHAR}
	</update>

</mapper>