<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.InstWorkTypeSettleMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.InstWorkTypeSettle">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="inst_id" jdbcType="INTEGER" property="instId" />
		<result column="work_type_id" jdbcType="INTEGER" property="workTypeId" />
		<result column="settle_ratio" jdbcType="DECIMAL" property="settleRatio" />
		<result column="settle_status" jdbcType="TINYINT" property="settleStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, inst_id, work_type_id, settle_ratio, settle_status,create_time,modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM 
			carexx_inst_work_type_settle
		WHERE 
			id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectAllAvailable" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM 
			carexx_inst_work_type_settle
		WHERE
			settle_status = 1
			and inst_id = #{instId,jdbcType=INTEGER}
			and work_type_id = #{workTypeId,jdbcType=INTEGER}
		ORDER BY
			create_time desc
	</select>
	
	<select id="selectInstWorkTypeSettleCount" parameterType="com.sh.carexx.bean.worktype.WorkTypeSettleQueryFormBean" resultType="java.lang.Integer">
		SELECT
			count(1) totalCount
		FROM
			carexx_inst_work_type_settle iwts
		LEFT JOIN
			carexx_care_inst ci ON iwts.inst_id = ci.id
		LEFT JOIN 
			carexx_work_type wt ON iwts.work_type_id = wt.id
		<where>
			<if test="instId != null and instId > 0">
				iwts.inst_id = #{instId,jdbcType=INTEGER}
			</if>
			<if test="instName != null and instName != ''">
			    and ci.inst_name like CONCAT('%', '${instName}', '%')
			</if>
			<if test="workTypeName != null and workTypeName != ''">
			    and wt.work_type_name like CONCAT('%', '${workTypeName}', '%')
			</if>
		</where>
	</select>
	
	<select id="selectInstWorkTypeSettleList" parameterType="com.sh.carexx.bean.worktype.WorkTypeSettleQueryFormBean" resultType="java.util.Map">
		SELECT
			iwts.id id,
			iwts.inst_id instId,
			ci.inst_name instName,
			iwts.work_type_id workTypeId,
			wt.work_type_name workTypeName,
			iwts.settle_ratio settleRatio,
			iwts.settle_status settleStatus,
			iwts.create_time createTime,
			iwts.modify_time modifyTime
		FROM
			carexx_inst_work_type_settle iwts
		LEFT JOIN
			carexx_care_inst ci ON iwts.inst_id = ci.id
		LEFT JOIN 
			carexx_work_type wt ON iwts.work_type_id = wt.id
		<where>
			<if test="instId != null and instId > 0">
				iwts.inst_id = #{instId,jdbcType=INTEGER}
			</if>
			<if test="instName != null and instName != ''">
			    and ci.inst_name like CONCAT('%', '${instName}', '%')
			</if>
			<if test="workTypeName != null and workTypeName != ''">
			    and wt.work_type_name like CONCAT('%', '${workTypeName}', '%')
			</if>
		</where>
		ORDER BY
			iwts.create_time DESC
		LIMIT ${rowIndex}, ${pageSize}
	</select>
	
	<select id="selectByExistence" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_inst_work_type_settle
		WHERE
			inst_id = #{instId,jdbcType=INTEGER}
			and work_type_id = #{workTypeId,jdbcType=INTEGER}
			and settle_ratio = #{settleRatio,jdbcType=DECIMAL}
	</select>
	
	<insert id="insert" parameterType="com.sh.carexx.model.uc.InstWorkTypeSettle">
		INSERT INTO carexx_inst_work_type_settle (
			inst_id, work_type_id, settle_ratio, settle_status,create_time
		)
		VALUES (
			#{instId,jdbcType=INTEGER},#{workTypeId,jdbcType=INTEGER},
			#{settleRatio,jdbcType=DECIMAL}, #{settleStatus,jdbcType=TINYINT},now()
		)
	</insert>
	
	<update id="update" parameterType="com.sh.carexx.model.uc.InstWorkTypeSettle">
		UPDATE
			carexx_inst_work_type_settle
		SET 
			inst_id = #{instId,jdbcType=INTEGER},
			work_type_id = #{workTypeId,jdbcType=INTEGER},
			settle_ratio = #{settleRatio,jdbcType=DECIMAL},
			modify_time = now()
		WHERE 
			id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateStatus">
		UPDATE 
			carexx_inst_work_type_settle
		SET
			settle_status=#{targetStatus,jdbcType=TINYINT},
			modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER} and settle_status = #{srcStatus,jdbcType=TINYINT}
	</update>
</mapper>