<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.InstCareServiceMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.InstCareService">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="inst_id" jdbcType="INTEGER" property="instId" />
		<result column="service_id" jdbcType="INTEGER" property="serviceId" />
		<result column="service_unit" jdbcType="TINYINT" property="serviceUnit" />
		<result column="service_price" jdbcType="DECIMAL" property="servicePrice" />
		<result column="service_status" jdbcType="TINYINT" property="serviceStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, inst_id, service_id, service_unit, service_price,service_status,create_time,modify_time
	</sql>
	
	<select id="selectExistence" parameterType="com.sh.carexx.bean.care.InstCareServiceFormBean" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_inst_care_service
		WHERE
			service_status > 0
			and inst_id = #{instId,jdbcType=INTEGER}
			and service_id = #{serviceId,jdbcType=INTEGER}
			<if test="serviceUnit != null and serviceUnit > 0 ">
			and service_unit = #{serviceUnit,jdbcType=TINYINT}
			</if>
	</select>
	
	<select id="selectAllAvailable" parameterType="com.sh.carexx.bean.care.InstServiceQueryFormBean" resultType="java.util.Map">
	    SELECT
	  		ics.id id,
	  		cs.service_name serviceName,
	  		ics.service_id serviceId,
	  		wt.id workTypeId,
	  		wt.work_type_name workTypeName,
	  		ics.service_unit serviceUnit,
	  		ics.service_price servicePrice,
	  		ics.service_status serviceStatus,
	  		ics.create_time createTime,
	  		ics.modify_time modifyTime
	  	FROM 
	  		carexx_inst_care_service ics
	  	LEFT JOIN
	    	carexx_care_service cs
	    ON
	    	ics.service_id = cs.id
	    LEFT JOIN
	    	carexx_work_type wt
	    ON
	    	cs.work_type_id = wt.id
	    <where> 
	    		ics.service_status = 1
	    	<if test="instId != null and instId > 0 ">
	    		and ics.inst_id = #{instId,jdbcType=INTEGER}
	    	</if>
	    	<if test="mapp == 1">
	    		and ics.service_price > 0
	    	</if>
	    </where>
	    ORDER BY
			ics.create_time desc
  	</select>
  	
  	<select id="selectServicePrice" resultMap="BaseResultMap">
  		SELECT
  			<include refid="Base_Column_List" />
  		FROM
  			carexx_inst_care_service
  		WHERE
  			service_status = 1
  			and inst_id = #{instId,jdbcType=INTEGER}
  			and service_id = #{serviceId,jdbcType=INTEGER}
  	</select>
  
  	<update id="delete">
  		UPDATE
  			carexx_inst_care_service
  		SET
  			service_status = 0,
  			modify_time = now()
  		WHERE
  			id = #{id,jdbcType=INTEGER} and service_status > 0
  	</update>
  
  	<select id="selectInstCareServiceCount" parameterType="com.sh.carexx.bean.care.InstServiceQueryFormBean" resultType="java.lang.Integer">
	  	SELECT 
	  		count(1) totalCount
	  	FROM 
	  		carexx_inst_care_service ics
	  	LEFT JOIN
	    	carexx_care_service cs
	    ON
	    	ics.service_id = cs.id
	   	<where>
	   			ics.service_status = 1
	   		<if test="instId != null and instId > 0 ">
	    		and ics.inst_id = #{instId,jdbcType=INTEGER}
	    	</if>
	    	<if test="serviceName != null and serviceName != '' ">
	    		and cs.service_name like CONCAT('%', '${serviceName}', '%')
	    	</if>
	    	<if test="workTypeId != null and workTypeId != '' ">
	    		and cs.work_type_id = #{workTypeId,jdbcType=INTEGER}
	    	</if>
	    </where>
  	</select>
  	
  	<select id="selectInstCareServiceList" parameterType="com.sh.carexx.bean.care.InstServiceQueryFormBean" resultType="java.util.Map">
	  	SELECT 
	  		ics.id id,
	  		ics.inst_id instId,
	  		cs.service_name serviceName,
	  		ics.service_id serviceId,
	  		wt.id workTypeId,
	  		wt.work_type_name workTypeName,
	  		ics.service_unit serviceUnit,
	  		ics.service_price servicePrice,
	  		ics.service_status serviceStatus,
	  		ics.create_time createTime,
	  		ics.modify_time modifyTime
	  	FROM 
	  		carexx_inst_care_service ics
	  	LEFT JOIN
	    	carexx_care_service cs
	    ON
	    	ics.service_id = cs.id
	   	LEFT JOIN
	    	carexx_work_type wt
	    ON
	    	cs.work_type_id = wt.id
	    <where>
	    		ics.service_status = 1
	    	<if test="instId != null and instId > 0 ">
	    		and ics.inst_id = #{instId,jdbcType=INTEGER}
	    	</if>
	    	<if test="serviceName != null and serviceName != '' ">
	    		and cs.service_name like CONCAT('%', '${serviceName}', '%')
	    	</if>
	    	<if test="workTypeId != null and workTypeId != '' ">
	    		and cs.work_type_id = #{workTypeId,jdbcType=INTEGER}
	    	</if>
	    </where>
	    ORDER BY
			ics.create_time DESC
		LIMIT ${rowIndex}, ${pageSize}
  	</select>
	
	<insert id="insert" parameterType="com.sh.carexx.model.uc.InstCareService">
		INSERT INTO carexx_inst_care_service (
			inst_id, service_id,service_unit,
			service_price, service_status,create_time
		)
		VALUES(
			#{instId,jdbcType=INTEGER},
			#{serviceId,jdbcType=INTEGER},
			#{serviceUnit,jdbcType=TINYINT},
			#{servicePrice,jdbcType=DECIMAL}, #{serviceStatus,jdbcType=TINYINT},now()
		)
	</insert>
	
	<update id="update" parameterType="com.sh.carexx.model.uc.InstCareService">
		UPDATE
			carexx_inst_care_service
		SET
			service_unit = #{serviceUnit,jdbcType=TINYINT},
			service_price = #{servicePrice,jdbcType=DECIMAL},
			modify_time = now()
		WHERE 
			id = #{id,jdbcType=INTEGER}
	</update>
</mapper>