<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.OrderPaymentMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.OrderPayment">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="pay_type" jdbcType="TINYINT" property="payType" />
		<result column="pay_amt" jdbcType="DECIMAL" property="payAmt" />
		<result column="pay_status" jdbcType="TINYINT" property="payStatus" />
		<result column="pay_chnl" jdbcType="TINYINT" property="payChnl" />
		<result column="pay_chnl_trans_no" jdbcType="VARCHAR" property="payChnlTransNo" />
		<result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
		<result column="recon_flag" jdbcType="TINYINT" property="reconFlag" />
		<result column="recon_time" jdbcType="TIMESTAMP" property="reconTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, 
		order_no, 
		pay_type, 
		pay_amt, 
		pay_status, 
		pay_chnl,
		pay_chnl_trans_no,
		pay_time,
		recon_flag, recon_time
	</sql>
	<insert id="insert" parameterType="com.sh.carexx.model.uc.OrderPayment">
		insert into	carexx_order_payment (
			order_no,
			pay_amt,
			pay_status
		)
		values (
			#{orderNo,jdbcType=VARCHAR},
			#{payAmt,jdbcType=DECIMAL},
			#{payStatus,jdbcType=TINYINT}
		)
	</insert>
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_order_payment
		where 
			id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_order_payment
		where 
			order_no = #{orderNo,jdbcType=VARCHAR}
	</select>


	<update id="update" parameterType="com.sh.carexx.model.uc.OrderPayment">
		update
			carexx_order_payment
		set
			pay_type = #{payType,jdbcType=TINYINT},
			pay_status = #{payStatus,jdbcType=TINYINT},
			pay_chnl = #{payChnl,jdbcType=TINYINT},
			pay_chnl_trans_no = #{payChnlTransNo,jdbcType=VARCHAR},
			pay_time = now()
		where
			order_no = #{orderNo,jdbcType=VARCHAR} and pay_status = 1
	</update>
</mapper>