<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.UserInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="mobile" jdbcType="CHAR" property="mobile" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="avatar" jdbcType="VARCHAR" property="avatar" />
		<result column="user_level" jdbcType="TINYINT" property="userLevel" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="region" jdbcType="VARCHAR" property="region" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mobile, nickname, avatar, user_level, sex, region, create_time, modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			carexx_user_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByMobile" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			carexx_user_info
		where mobile = #{mobile,jdbcType=CHAR}
	</select>
	<insert id="insert" parameterType="com.sh.carexx.model.uc.UserInfo" useGeneratedKeys="true" keyProperty="id">
		insert into carexx_user_info (
			mobile, nickname, avatar, user_level, sex, region, create_time
		)
		values (
			#{mobile,jdbcType=CHAR}, #{nickname,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR},
			#{userLevel,jdbcType=TINYINT}, #{sex,jdbcType=TINYINT}, #{region,jdbcType=VARCHAR}, now()
		)
	</insert>
	<update id="update" parameterType="com.sh.carexx.model.uc.UserInfo">
		update
			carexx_user_info
		set 
			nickname = #{nickname,jdbcType=VARCHAR},
			avatar = #{avatar,jdbcType=VARCHAR},
			sex = #{sex,jdbcType=TINYINT},
			region = #{region,jdbcType=VARCHAR},
			modify_time = now()
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateMobileById">
		update
			carexx_user_info
		set 
			mobile = #{mobile,jdbcType=CHAR},
			modify_time = now()
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>