<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.UserOAuthMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.UserOAuth">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="identity_type" jdbcType="TINYINT" property="identityType" />
		<result column="identifier" jdbcType="VARCHAR" property="identifier" />
		<result column="credential" jdbcType="VARCHAR" property="credential" />
		<result column="identity_status" jdbcType="TINYINT" property="identityStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, identity_type, identifier, credential, identity_status, create_time, modify_time
	</sql>
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_user_oauth
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByIdentityInfo" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			carexx_user_oauth
		where identity_type = #{identityType,jdbcType=TINYINT} and identifier = #{identifier,jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="com.sh.carexx.model.uc.UserOAuth">
		insert into carexx_user_oauth (
			user_id, identity_type, identifier, credential, identity_status, create_time
		)
		values (
			#{userId,jdbcType=INTEGER}, #{identityType,jdbcType=TINYINT}, #{identifier,jdbcType=VARCHAR}, 
			#{credential,jdbcType=VARCHAR}, #{identityStatus,jdbcType=TINYINT}, now()
		)
	</insert>
	<update id="update" parameterType="com.sh.carexx.model.uc.UserOAuth">
		update
			carexx_user_oauth
		set 
			identifier = #{identifier,jdbcType=VARCHAR},
			credential = #{credential,jdbcType=VARCHAR},
			modify_time = now()
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>