<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.UserMsgMapper">
  <resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.UserMsg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="msg_type" jdbcType="TINYINT" property="msgType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="msg_title" jdbcType="VARCHAR" property="msgTitle" />
    <result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, msg_type, user_id, msg_title, msg_content, create_time, modify_time
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    	<include refid="Base_Column_List" />
    from 
    	carexx_user_msg
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectUserMsgCount" parameterType="com.sh.carexx.bean.usermsg.UserMsgFormBean" resultType="java.lang.Integer">
		SELECT
			count(1) totalCount
		FROM
			carexx_user_msg um
		LEFT JOIN carexx_user_msg_status ums ON um.id = ums.msg_id
		<where>
			(
				ums.msg_status IS NULL
				OR ums.msg_status = 1
			)
			<if test="userId != null and userId != '' ">
			AND um.user_id IN (0, #{userId,jdbcType=INTEGER})
			</if>
			<if test="msgType != null and msgType != '' ">
			AND um.msg_type =  #{msgType,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	<select id="selectUserMsgList" parameterType="com.sh.carexx.bean.usermsg.UserMsgFormBean" resultType="java.util.Map">
		SELECT
			um.id id, 
			um.msg_type msgType, 
			um.user_id userId, 
			um.msg_title msgTitle, 
			um.msg_content msgContent, 
			um.create_time createTime, 
			um.modify_time modifyTime, 
			IFNULL(ums.msg_status, 0) msgStatus
		FROM
			carexx_user_msg um
		LEFT JOIN carexx_user_msg_status ums ON um.id = ums.msg_id
		<where>
			(
				ums.msg_status IS NULL
				OR ums.msg_status = 1
			)
			<if test="userId != null and userId != '' ">
			AND um.user_id IN (0, #{userId,jdbcType=INTEGER})
			</if>
			<if test="msgType != null and msgType != '' ">
			AND um.msg_type =  #{msgType,jdbcType=INTEGER}
			</if>
		</where>
		ORDER BY createTime DESC
		limit ${rowIndex}, ${pageSize}
	</select>

	<insert id="insert" parameterType="com.sh.carexx.model.uc.UserMsg">
		INSERT INTO carexx_user_msg 
		(
			msg_type,
			user_id,
			msg_title,
			msg_content,
			create_time
		)
		VALUES
			(
				#{msgType,jdbcType=TINYINT},
				#{userId,jdbcType=INTEGER},
				#{msgTitle,jdbcType=VARCHAR},
				#{msgContent,jdbcType=VARCHAR},
				now()
			)
	</insert>
</mapper>