<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.carexx.uc.dao.WorkTypeMapper">
	<resultMap id="BaseResultMap" type="com.sh.carexx.model.uc.WorkType">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="work_type_name" jdbcType="VARCHAR" property="workTypeName" />
		<result column="work_type_status" jdbcType="TINYINT" property="workTypeStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, work_type_name, work_type_status, create_time, modify_time
	</sql>
	<select id="selectByWorkTypeName" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_work_type
		WHERE
			work_type_name = #{workTypeName,jdbcType=VARCHAR}
	</select>
	
	<select id="selectAllAvailable" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_work_type
		WHERE
			work_type_status = 1
		ORDER BY
			create_time DESC
	</select>

	<select id="selectWorkTypeCount" parameterType="com.sh.carexx.model.uc.WorkType"
		resultType="java.lang.Integer">
		SELECT
			count(1) totalCount
		FROM
			carexx_work_type
		<where>
			<if test="workTypeName != null and workTypeName != ''">
				work_type_name like CONCAT('%', '${workTypeName}', '%')
			</if>
			<if test="workTypeStatus != null">
				and work_type_status = #{workTypeStatus,jdbcType=TINYINT}
			</if>
		</where>
	</select>

	<select id="selectWorkTypeList" parameterType="com.sh.carexx.model.uc.WorkType"
		resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			carexx_work_type
		<where>
			<if test="workTypeName != null and workTypeName != ''">
				work_type_name like CONCAT('%', '${workTypeName}', '%')
			</if>
			<if test="workTypeStatus != null">
				and work_type_status = #{workTypeStatus,jdbcType=TINYINT}
			</if>
		</where>
		ORDER BY
			create_time DESC
		LIMIT ${rowIndex}, ${pageSize}
	</select>

	<update id="update" parameterType="com.sh.carexx.model.uc.WorkType">
		UPDATE
			carexx_work_type
		SET
			work_type_name = #{workTypeName,jdbcType=VARCHAR},
			modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateStatus">
		UPDATE
			carexx_work_type
		SET
			work_type_status=#{targetStatus,jdbcType=TINYINT}, modify_time = now()
		WHERE
			id = #{id,jdbcType=INTEGER} and work_type_status = #{srcStatus,jdbcType=TINYINT}
	</update>

	<insert id="insert" parameterType="com.sh.carexx.model.uc.WorkType">
		INSERT INTO carexx_work_type (
			work_type_name,
			work_type_status, create_time
		)
		VALUES (
			#{workTypeName,jdbcType=VARCHAR},
			#{workTypeStatus,jdbcType=TINYINT}, now()
		)
	</insert>
</mapper>